$navbarHeight: 80px;
$navBackgroundColor: #000;
$navLinkColor: #FFF;
$buttonHeight: 40px;
$navbarFontSize: 28px;

@font-face {
    font-family: ibmh2;
    src: url(fonts/IBMPlexSansMedium.otf);
}
@font-face {
    font-family: ibmbread;
    src: url(fonts/IBMPlexSansMedium.otf);
}



@font-face {
    font-family: ibmhThin;
    src: url(fonts/IBMPlexSansThin.otf);
}
